*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: palegreen;
}


.header {
    color: #fff;
    padding: 1rem;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;

}

.header__logo {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50px;
}

.nav {
    padding: 1rem;

}

.nav__ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}
.nav__li {
    margin-left: 16px;
}
.nav__link {
    color:#fff;
    text-decoration: none;
}



.Inicio {
    /* background-color: rgb(0, 255, 34);
    color: green;
    width: 600px;
    min-height: 500px;
    border: 5px solid green;
    margin: 0px auto;
    padding: 50px;
    display: block; */
    display: flex;
    height: 1000px;
    width: 100%;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: palegreen;
    
}
/* .Centrado {
    text-align: center;
    
} */

.Inicio__titulo {
    font-size: 70px;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: green;

}

.Inicio__imagen {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    
}

.Inicio__texto {
    font-size: 25px;
    color: green;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.footer {
    background-color: #000;
    padding: 1rem;
    color: #fff;
     
}
.footer__a {
    color: #fff;
    text-decoration: none;
}


.div {
    display: inline-block;
    margin: 2rem;
    width: 400px;
    height: 400px;
    
}

.div__imagen {
   
    border: none;
    width: 400px;
    height: 400px;
    padding: 2rem;

}
.grid {
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "ele1 ele2"
    "ele3 ele4";
    justify-items: center;
    align-items: center;
}
    
.grid__hijo {
    border: 10px solid green;
    padding: 0;
    text-align: center;
    width: 500px;
    height: 500px;
    
  
}
.grid__imagen {
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.grid__hijo--1 {
    grid-area: ele1;
}
.grid__hijo--2 {
    grid-area: ele2;
}

.grid__hijo--3 {
    grid-area: ele3;
}
 .grid__hijo--4 {
    grid-area: ele4;
 }



 .transform-translate {
    width: 300px;
    height: 300px;
    background-image: url(../imagenes/greenpots-logo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(150px);
    transform: translateX(300px);
    transform: scaleX(2);
    transform: scaleY(0.7);
    transform: rotate(80deg);
    transform: skew(20deg);
    transform: skew(20deg, 10deg);
    transform: scale(0.7) translate(100px, 200px);
    transform: scale(0.7) translate(100px, 200px) rotate(70deg);
    transform: scale(0.7) translate(100px, 200px) rotate(70deg) skew(20deg);
    transform: scale(1);
    
    transition: transform 2s;

 }
.transform-translate:hover {
    transform: scale(0,5);
}





 @media screen and (max-width: 2000px) {
     .header__menu {
         display: none;
     }

 }

@media screen and (max-width: 600px) {

    .nav {
       display: none; 
    }
    .header {
        flex-direction: row;
    }
    
    .header__menu {
        display: block;
        font-size: 32px;
        color: #fff;
        text-decoration: none;
    }

    .Inicio {
        display: flex;
        height: 100vh;
        max-width: 450px;
        
        
        
    }
    .Inicio__titulo {
        font-size: 40px;
    }
    
    
    .Inicio__texto {
        font-size: 20px;
    }
    .Inicio__Imagen {
        height: 300px;
        width: 300px;
      

    }

    .grid {
        height: 100vh;
        
        
    }
    .grid__hijo {
        width: 300px;
        height: 300px;
    }
    .div__imagen {
        padding: 0px;
}
