.btn-instagram {
  color: #ffffff;
}

.btn-facebook {
  color: red;
}

div {
  background-color: orange;
  text-align: center;
  padding: 1rem;
  font-size: 35px;
}

.renzo {
  background-color: orange;
}

.boton, .boton--cancelar, .boton--aceptar {
  width: 200px;
  height: 50px;
  background-color: white;
  text-align: center;
  color: black;
  border-radius: 20px;
  border: 1px solid black;
}

.boton--aceptar {
  background-color: green;
  color: yellow;
}

.boton--cancelar {
  background-color: red;
  color: yellow;
}

.box--small {
  width: 100px;
  height: 100px;
  background-color: red;
}

.box--medium {
  width: 250px;
  height: 250px;
  background-color: pink;
}

.box--big {
  width: 500px;
  height: 500px;
  background-color: orange;
}

.header {
  color: #fff;
  padding: 1rem;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}
.header__logo {
  width: 90px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}

.nav {
  padding: 1rem;
}
.nav__ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}
.nav__li {
  margin-left: 16px;
}
.nav__link {
  color: #fff;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: palegreen;
}

.Inicio {
  display: flex;
  height: 1000px;
  width: 100%;
  padding: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: palegreen;
}
.Inicio__titulo {
  font-size: 70px;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: green;
}
.Inicio__imagen {
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.Inicio__texto {
  font-size: 25px;
  color: green;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.grid {
  min-height: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "ele1 ele2" "ele3 ele4";
  justify-items: center;
  align-items: center;
}
.grid__hijo {
  padding: 0;
  text-align: center;
  width: 500px;
  height: 500px;
}
.grid__imagen {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid__hijo--1 {
  grid-area: ele1;
}
.grid__hijo--2 {
  grid-area: ele2;
}
.grid__hijo--3 {
  grid-area: ele3;
}
.grid__hijo--4 {
  grid-area: ele4;
}

.imagen-index {
  transform: scale(0.7) translate(100px, 200px) rotate(70deg) skew(20deg);
  transform: scale(1);
  transition: transform 4s;
}
.imagen-index:hover {
  transform: scale(1.1);
  margin: 50px;
}

.pagina:hover {
  color: rgb(10, 153, 41);
}

.animation {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation-name: animacion;
          animation-name: animacion;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes animacion {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes animacion {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.desaparecer {
  -webkit-animation-name: desaparecer;
          animation-name: desaparecer;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes desaparecer {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes desaparecer {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.caja {
  overflow: hidden;
}
.cajahover .zoom {
  transform: scale(1.5);
}

.zoom {
  width: 100%;
  height: 100%;
  transition: transform 2s;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background-color: #000;
  padding: 1rem;
  color: #fff;
}
.footer__a {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 2000px) {
  .header__menu {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .nav {
    display: none;
  }

  .header {
    flex-direction: row;
  }

  .header__menu {
    display: block;
    font-size: 32px;
    color: #fff;
    text-decoration: none;
  }

  .Inicio {
    display: flex;
    height: 100vh;
    max-width: 450px;
  }

  .Inicio__titulo {
    font-size: 40px;
  }

  .Inicio__texto {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */