@media screen and (max-width: 2000px) {
    .header__menu {
        display: none;
    }

}

@media screen and (max-width: 600px) {

   .nav {
      display: none; 
   }
   .header {
       flex-direction: row;
   }
   
   .header__menu {
       display: block;
       font-size: 32px;
       color: #fff;
       text-decoration: none;
   }

   .Inicio {
       display: flex;
       height: 100vh;
       max-width: 450px;
       
       
       
   }
   .Inicio__titulo {
       font-size: 40px;
   }
   
   
   .Inicio__texto {
       font-size: 20px;
   }

   }